<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wsg.common">

    <application>
        <provider
            android:name="com.wsg.LoggerRuntimeProvider"
            android:authorities="${applicationId}.LoggerRuntimeProvider"
            android:exported="false"
            android:multiprocess="true" />
    </application>
</manifest>
